@import "tailwindcss";

@theme {
  /* Primary */
  --color-primary: #9bccff;
  --color-primary-hover: #cde7ff;
  --color-background: #07101f;
  --color-background-secondary: #0f1a2a;

  --color-muted: #64748b;
  --color-muted-hover: #334155;

  --color-border: #2c3e56;

  --color-text: #e6f4ff;
  --color-text-muted: #759bc3;

  --font-chillax: var(--font-chillax);
}

html,
body {
  scroll-behavior: smooth;
}

.container {
  @apply container mx-auto max-sm:px-4;
}
