@import "tailwindcss";
/* 
:root {
  --background: ;
  --foreground: #171717;
} */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme {
  /* Primary */
  --color-primary: #60a5fa;
  --color-primary-hover: #e0f2fe;
  --color-background: #07101f;

  /* Secondary */
  --color-secondary: #262626;
  --color-secondary-hover: #1f2937;

  /* Accent */
  --color-accent: #2563eb;
  --color-accent-hover: #475569;
  --color-accent-light: #93c5fd;

  /* Surface / text */
  --color-surface: #ffffff;
  --color-muted: #64748b;
  --color-muted-hover: #334155;
}

body {
}
